.contImg{

  /* .contenedor-imagen { */
    max-width: 100%;
    /* width: 600px; Puedes ajustar el ancho máximo deseado aquí */
    margin: 0 auto;
  /* } */
    position: relative;
    background-size: auto;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.slider {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  

  /* slideshow.module.css */
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Clase para aplicar la animación de fundido */
.fadeI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              n {
  animation: fadeInAnimation 1s ease;
}