.bodyItem{
    padding-top: 12rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.img{
    object-fit: cover;
    width: 50%;
    min-width: 550px;
    padding: 0rem 2rem;
}
.contText{
    align-items: start;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


@media only screen and (max-width: 67rem){
    .bodyItem{
        flex-direction: column;
        align-items: center;
    }
    .img{
        height: 22rem;
        width: 100%;
        max-width: 600px;
        object-fit: cover;
        padding: 0rem
    }
}