@import '../../globals.css';

@media only screen and (max-width: 37.5rem){
.menu {
    background-color: #ffffff00;
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6rem;
    position: fixed;
    z-index: 5;
}
.ul {
    padding-right : 10rem  !important;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b9b5b210;
}
.li {
    font-family: var(--primary-font);
    font-size: var(--font-size-medium);
    margin: 10px 16px;
    font-weight: var(--font-weight-bold);
    cursor: pointer
}
    .menu {
        padding-left: 1.5rem;
        width: 100%;
        height: 4.5rem;
    }
    .imgStyle {
        z-index: 200;
    }
    .logoMenu{
        height: 1.5rem;
        width: 5rem;
        padding-right: 2.5rem;
        display: flex;
        align-items: end;
        justify-content: space-between;
        flex-direction: column;
        z-index: 200;
    }
    .isActiveIndx{
        color: rgb(144, 140, 108);
        height: .05rem;
        width: 2rem;
        background:rgb(255, 255, 255);
        transition: .5s;
    }
    .isActiveIndx:nth-child(1){
        width: 1.5rem;
    }
    .isActiveIndx:nth-child(3){
        width: 1.5rem;
    }
    .indx{
        background-color: #b9b5b2;
        z-index: 0;
    }
    .indx:nth-child(1){
        position : absolute;
        top: 35px;
        rotate: 45deg;
        transition: .5s;
    }
    .indx:nth-child(2){
        display: none;
        transition: .5s;
    }
    .indx:nth-child(3){
        position : absolute;
        rotate: 135deg;
        top: 35px;
        transition: .5s;
    }
    .isActive {
        position: absolute;
        opacity: 0;
        color: rgba(193, 193, 193, 0.974);
        left: 0;
        top: 0;
        padding-top: 15rem;
        padding-left: 5rem;
        height: 100vh;
        width: 100%;
        display: none;
        background: rgb(0, 0, 0);
        animation: fadeOut 1s ease;
    }
    .mobileMenu{
      display: block;
        opacity: 1;
        color: rgb(193, 193, 193);
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 15rem;
        padding-left: 5rem;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.911);
        animation: fadeIn 1s ease;
        z-index: 100;
    }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

    .ulMobile{
        list-style: none;
        padding: 0;
        margin: 0;
        transition: .5s;
    }
    .liMobile {
        font-family: var(--primary-font);
        font-size: 1.3rem;
        margin: 10px 16px;
        letter-spacing: 1.6px;
        font-weight: 300;
        cursor: pointer
    }
    .mobileMenuTitle{
        color: #e98b39;
        width: 6rem;
        border-bottom: #e2e2e2 1px solid;
        padding-bottom: 1.2rem;
        margin-bottom: 3rem;
        font-family: var(--primary-font);
        font-size: 1.3rem;
        font-weight: 400;
    }
    .itemMobileMenu {
        display: "flex";
        align-items: "start";
        flex-direction: row;
    }
    .fade-enter {
        opacity: 0;
      }

      .fade-enter-active {
        opacity: 1;
        transition: opacity 300ms;
      }

      .fade-exit {
        opacity: 1;
      }

      .fade-exit-active {
        opacity: 0;
        transition: opacity 300ms;
      }

      .fade {
        background: red;
        /* Estilos para tu componente */
      }

}