.custom-variables {
  --primary-color: #FFB90D;
  --second-color: #FFD700;
  --white-color: #ffffff;
  --black-color: #000000;
  /* backgrounds */
  --background-primary-color: #ff88004d;
  --background-primary-color-1: #ff88001a;
  /* Fonts */
  --primary-font: "sohne-var","Helvetica Neue","Arial",sans-serif;
  --font-size-medium: 1rem;
  --font-size-small: .8rem;
  --font-size-large: 1.5rem;
  --font-size-title: 2rem;
  --font-size-title-2: 2.5rem;
  --font-size-title-3: 3.5rem;
  --font-weight: 400;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 800;

  --cardShadowSmall: 0 6px 12px -2px rgba(50,50,93,0.25),0 3px 7px -3px rgba(0,0,0,0.3);
}
