.contImgService{
    box-shadow: var(--cardShadowSmall);
    position: relative;
    height: 13rem;
    width: 20rem;
    margin: 1rem;
    /* text-align: "center"; */
}
.textService {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 13rem;
    width: 20rem;
    /* background-color: rgb(113, 113, 113); */
}

.textService h2 {
    font-family: var(--primary-font);
    color: var(--white-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    opacity: 1;
    margin: 0;
    cursor: default;
    text-transform: uppercase;
    transition: .5s;
}
.contImgService:hover > .imgService {
    filter: brightness(0.4);
    transition: .5s;
}
