.contCardServices{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}s
.CardService {
    display: flex;
}
.title {
    font-family: var(--primary-font);
    font-size: var(--font-size-title-3);
    font-weight: var(--font-weight-extra-bold) !important;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.contCardServicesMb {
    height: 50vh;
    width: auto;
    background-color: rgba(255, 255, 255, 0.205);
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
}
.contCardServicesMb::-webkit-scrollbar {
    display: none;
  }
  
.CardServiceMb{
    padding-left: 5rem;
    padding-right: 5rem;
    width: 56rem;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    scrollbar-color: yellow #640a64;
}
.contServices {
    padding: 5rem 0rem;
    text-align: center;
    font-family: var(--primary-font);
    font-size: var(--font-size-title-mobile);
    font-weight: var(--font-weigsht-extra-bold) !important;
}